.codetta-img {
    max-width: 100%;
    width: auto;
    height: auto;
    margin-bottom: 7%;
    border: 1px solid rgb(126, 212, 213);;

}

.photo-title {
    font-size: 2em;
    color: rgb(126, 212, 213);
    font-family: Genos;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

.codetta-stone-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 7%;
}

.codetta-stone {
    margin-top: 29%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    font-family: Genos;
}

.team-name {
    text-align: center;
    color:rgb(126, 212, 213);
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 4%;

}

.team-description {
    text-align: justify;
    color:rgb(126, 212, 213);
    font-size: 2em;
    margin-bottom: 6%;
    text-shadow: 2px 2px 4px #000000;
}

  .codetta-link {
    text-shadow: 2px 2px 4px #000000;
    font-size: 2rem;
  }

  .codetta-links {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
  }

  .links-title {
    color:rgb(126, 212, 213);
    text-shadow: 2px 2px 4px #000000;
    font-size: 2rem;
    padding: 0 1rem;
  }

  @media (max-width: 650px) {
    .retro {
      margin-bottom: 17%;
    }
  }
 