.main-about-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    padding: 0 1rem;
    color: rgb(126, 212, 213);
    font-family: Genos;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 35%;
    margin-left: 2%;
    text-align: justify;
}

.about-text-content {
    display: flex;
    margin-top: 3%;
    color: rgb(126, 212, 213);
    text-align: justify;
    margin-bottom: 10%;
}

